<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div><b>FLIGHT DETAILS</b></div>
    <div>AIRLINE: <i><%= flight.airline %></i></div>
    <div>FLIGHT NUMBER: <i><%= flight.flightNo %></i></div>
    <div>DEPARTURE TIME: <i><%= flight.departs %></i></div>
    <div>AIRPORT: <i><%= flight.airport %></i></div>
  </section>

<!-- new markup below -->
<br><br><h2>Destinations</h2>
<form id="add-review-form" method="POST"
action="/flights/<%= flight._id %>/destinations">
<label>Arrival: <input type="datetime-local" id="meeting-time"
name="arrival" value=""
min="" max=""> </label><br />
<label
>Airport
<select name="airport">
  <option value="AUS">AUSTIN</option>
  <option value="DAL">DALLAS</option>
  <option value="LAX">LOS ANGELES</option>
  <option value="SEA">SEATTLE</option>
</select> </label
><br />
<input type="submit" value="Add Destination" />
</form>
<% if (flight.destinations.length) { %>
<table>
<thead>
  <tr>
    <th>Date</th>
    <th>Destination Airport</th>
  </tr>
</thead>
<tbody>
  <% flight.destinations.forEach(function(d) { %>
  <tr>
    <!-- <td><%= d.createdAt.toLocaleDateString() %></td> -->
    <td><%= d.arrival %></td>
    <td><%= d.airport %></td>
  </tr>
  <% }); %>
</tbody>
</table>
<% } else { %>
<h5>No Destinations Yet</h5>
<% } %>

<!-- new markup below -->
<br><br><h2>TICKETS</h2>
<!-- new markup below -->
<form id="add-per-to-cast" action="/tickets/<%= flight._id%>" method="POST">
<select name="ticketId">
  <%- tickets.map(p => `<option value="${p._id}">${p.seat}</option
  >`).join('') %>
</select>
<button type="submit">Buy Selected Seat</button>
</form>
<% if (flight.ticket.length) { %>
<table>
  <thead>
    <tr>
      <th>Seat</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% flight.ticket.forEach(function(t) { %>
    <tr>
      <td><%= t.seat %></td>
      <td><%= t.price %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h5>No Tickets </h5>
<% } %>

<a href="/flights">All Flights</a> 
  </body>
</html>